:root {
  --basic-white:#FFFFFF;
  --basic-black: #000000;
  --basic-gray: #293449;
  --basic-green: #63A63E;
  --basic-red: #EE3643;
  --gray-2: #C5C5C5;
  --gray-3: #F9F5F0;
  --gray-4:#A9A9A9;
  --gray-5: #EAEAEA;
  --gray-6: #32425C;
  --gray-7: #161D29;
  --gray-8: #1D2739;
  --gray-9:#B5B5B5;
  --gray-10:#293449;
  --gray-11: #EAEAEA;
  --gray-12: #F3F7F9;
  --gray-13: #405069;
  --gray-14: #F7F3EC;
  --gray-15: #F2F6F8;
  --gray-16: #E5E5E5;
  --basic-background: #F1F5F7;
  --basic-yellow: #FFBF47;
  --basic-blue: #3BBCE3;  --basic-lilac: #DC91D8;
  --greenlight: #8ED78F;
  --yellowlight: #FFD180;
  --green-dark: #5FBB2D;
  --green-4: #518534;
  --green-5: #367315;
  --lightgrey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
  --middle-red: #CA2C37;
  --dark-red: #BA2732;
  --slider-color: #A79D8E;

  --shadow-1: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

  --transparent-gray-1:  rgba(255, 255, 255, 0.5);
  --transparent-gray-2: rgba(255, 255, 255, 0.3);
  --transparent-gray-3: rgba(197,197,197,1);
  --transparent-gray-4: rgba(0, 0, 0, 0.15);

}   
/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

/* Гриды */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  background: var(--basic-background);
  margin-bottom: 0px;
  height: 320px;
}

.promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 123px);
  grid-gap: 20px;
  width: 940px;
  margin: 60px auto;
  padding: 0 10px;
}

.promo-slider {
  grid-column: 1/3;
  grid-row: 2/4;
}

.popular-container {
  display: grid;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 70px;
}

.main-footer {
  background-color: var(--gray-6);
  color: var(--basic-white);
}

.services-container {
  background-color: var(--basic-background);
  margin-bottom: 70px;
}

.breadcrumbs-list {
  display: flex;
  margin-bottom: 20px;
  line-height: 18px;
  margin-left: 0px;
  padding-left: 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 38px 1fr;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper .sort {
  grid-column: 2/3;
  grid-row: 3/4 ;
}

.popular-product {
  grid-row: 4/5;
  grid-column: 2/3;
}

/*Флексы */
.popular-container .item-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0px;
  text-align: center;
  align-items: center;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 70px;
}

.contacts-main .button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.company .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-contacts {
  background-color: var(--basic-gray);
} 

.footer-inf {
  background-color: var(--gray-10);
  color: var(--basic-white);
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}  

.footer-inf .item-list {
  display: flex;
  padding: 0px;
  justify-content: center;
  width: 150px;
}

.footer-mail {
  display: flex;
  justify-content: space-between;
  width: 283px;
  padding-right: 15px;
  padding-left: 2px;
}

.services-item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
}

.services-item-list .item-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-list-item {
  display: flex;
  align-items: center;
  width: 240px;
  height: 61px;
  color: var(--basic-white);
  background-color: var(--gray-6);
  box-shadow: 0px 1px 0px var(--basic-gray), inset 0px 1px 0px var(--gray-13);
  list-style: none;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding-left: 20px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Cuprum;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  color: var(--basic-white);
}

li.site-navigation-item {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer-item-list .item-list {
  display: flex;
  justify-content: flex-end;
  width: 550px;
}

.item-list-catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 700px;
  padding: 0px;
  margin: 30px 0;
}

.product-item-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 218px;
  min-height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: var(--basic-white);
  border: 1px solid var(--gray-5);
}

.product-item-catalog:nth-child(3n) {
  margin-right: 0px;
}

.header-login-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 158px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header-top-area {
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-gray);
  width: 940px;
  height: 42px;
  margin: 0 auto;
  padding: 0;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-red);
  box-shadow: var(--shadow-1);  
  width: 220px;
  height: 47px;
}

.main-logo:active {
  background-color: var(--dark-red);
  box-shadow: var(--shadow-1);  
}

.header-search-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
}

.header-link:active {
  background-color: var(--gray-7);
  color: var(--basic-white) 50%;
}
  
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-gray);
}

.order-link:active {
  background-color:var(--basic-green);
  color: var(--transparent-grey-1);
}

.order-link:hover {
  background-color: var(--green-dark);
}

.order-link {
  background-color: var(--basic-green);
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.promo-box-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--transparent-gray-2);
}

.popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-3);
  color: var(--gray-6);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.popular .button {
  width: 192px;
  height: 38px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 218px;
  min-height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: var(--basic-white);
  border: 1px solid var(--gray-5);
}

.product-item:nth-child(4n) {
  margin-right: -20px;
}

.popular-maker-item {
  width: 218px;
  min-height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: var(--basic-white);
  border: 1px solid var(--gray-11);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  grid-row: 4/5;
  grid-column: 1/2;
}

.invisible {
  /* display: none; */
}

/* header */
.header-top-area-bar {
  background-color: var(--basic-gray);
  height: 42px;
}

.search {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.search::-webkit-input-placeholder {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-gray);
}

.search:focus::-webkit-input-placeholder {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search::placeholder {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-gray);
}

.search:focus::placeholder {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.about {
  font-family: Cuprum;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.contacts-header {
  background-color: var(--gray-12);
  box-sizing: border-box;
  justify-self: center;
}

.phone-header {
  font-family: Cuprum;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  padding-left: 74px;
  padding-right: 45px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.header-adress {
  font-family: Cuprum;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray-6);
}

.enter-link {
  display: inline-block;
  vertical-align: baseline;
  padding: 12px 24px;
  font-family: Cuprum;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
}

.enter-link:hover {
  background-color: var(--basic-white);
  color: var(--basic-red);
}

.enter-link:active {
  background-color: var(--basic-black);
  color: var(--gray-2);
}

.main-nav {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 60px;
  height: 60px;
  font-family: Cuprum;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--gray-6);
}

.site-navigation-item:hover {
  background-color: var(--basic-gray);
  color: var(--basic-white);
  opacity: 0.5;
}

.site-navigation-link {
  color: var(--basic-white);
}

.site-navigation-link:hover {
  background-color: var(--basic-gray);
  color: var(--basic-white);
}

.site-navigation-link:active {
 background-color: var(--basic-gray);
 color: var(--basic-white) 50%;
}

  /* Promo */

.promo-box-material {
  background-color: var(--basic-yellow);
}

.promo-box-tools {
  background-color: var(--basic-blue);
}

.promo-box-technic {
  background-color: var(--basic-lilac);
}

.promo-box-sale {
  background-color: var(--greenlight);
}

.promo-box-del {
  background-color: var(--basic-yellow);
}

.promo-box-title {
  font-family: Cuprum;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.promo-box-button:hover {
  background-color: var(--transparent-gray-3);
}

.promo-box-button:active {
  opacity: 0.3;
  background-color: var(--gray-4);
}

.promo-slider-title {
  font-family: Cuprum;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.promo-slider-list {
  list-style: none;
  color: var(--basic-white);
}

.promo-slider-item {
  background-color: var(--slider-color);
}

.button {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  height: 38px;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--middle-red);
}

.button:active {
  background-color: var(--dark-red);
}

.product-link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  text-align: center;
}

.price-old {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--gray-4);
  text-align: center;
}

.price-new {
  background-color: var(--basic-red);
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.new-icon {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

/* Maker */

.popular-maker-item:nth-child(4n) {
  margin-right: 0px;
}

.popular-maker-item:hover {
  filter: drop-shadow(0px 4px 20px var(--transparent-gray-4));
} 

.popular-maker-item:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px var(--transparent-gray-4));
}

/* Services */

.services {
  width: 940px;
  min-height: 522px;
  background-color: var(--basic-background);
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-family: Cuprum;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.title-pop {
  font-family: Cuprum;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--gray-6);
  text-transform: uppercase;
}

.description {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px; 
  color: var(--basic-black);
}

.item-list,
.item-list-pages {
  list-style: none;
}

.item-list-pages {
  display: flex;
  padding-left: 0px;
}

.services-link {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  align-items: center;
}

.services-list-item:hover {
  background-color: var(--gray-10);
  box-shadow: 0px 1px 0px var(--basic-gray), inset 0px 1px 0px var(--gray-13);
  color: var(--basic-white);
}

.services-list-item:active {
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
  color: var(--gray-6);
}

.transport-item {
  font-family: Cuprum;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

/* Footer */

.footer-adress,
.phone-footer {
  font-family: Cuprum;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--gray-12);
}

.footer-nav-link,
.footer-add-link {
  margin-left: 59px;
  font-family: Cuprum;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-add-link {
  color: var(--yellowlight)
}

.footer-nav-link:hover,
.footer-add-link:hover {
  text-decoration-line: underline;
}

.footer-nav-link:active,
.footer-add-link:active {
  opacity: 0.5;
}

.footer-information {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social-button {
  font-family: Cuprum;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.contacts {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  color: var(--yellowlight);
}

.contacts:hover {
  text-decoration-line: underline;
}

.contacts:active {
  color: var(--basic-red);
}

/*
  Каталог
*/
.sort,
.sort-link {
  font-family: PT Sans;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--gray-14);
  text-transform: uppercase;
}

.sort-link {
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-red);
}

.sort-link:hover {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}

.use {
  color: var(--basic-red);
}

.breadcrumbs {
  font-family: PT Sans;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-right: 41px;
}

.title-pop-catalog {
  grid-column: 1/3;
  grid-row: 2/3;
  font-family: Cuprum;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--gray-6);
  text-transform: uppercase;
  background-color: var(--gray-15);
  padding: 29px;
  margin-bottom: 20px;
}

.button-catalog-buy {
  font-family: Cuprum;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-green);
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--green-5);
  border-radius: 2px;
  width: 131px;
  height: 38px;
  margin-bottom: 10px;
}

.button-catalog-buy:hover {
  background-color: var(--green-dark);
  box-shadow: inset 0px -3px 0px var(--green-5);
  border-radius: 2px;
}

.button-catalog-buy:active {
  background-color: var(--green-4);
  box-shadow: inset 0px -3px 0px var(--green-5);
  border-radius: 2px;
}

.button-catalog-tab {
  color: var(--gray-6);
  font-family: Cuprum;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  width: 131px;
  height: 38px;
}

.button-catalog-tab:hover {
  border: 3px solid var(--gray-6);
  box-sizing: border-box;
  border-radius: 2px;
}

.button-catalog-tab:active {
  opacity: 0.5;
}

.pages {
  font-family: PT Sans;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 15px;
  margin-right: 10px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--gray-16);
  text-transform: uppercase;
}

.pages:hover {
  border: 1px solid var(--gray-2);
}

.pages:focus {
  border: 1px solid var(--basic-red);
}

.active {
  background-color: var(--basic-red);
  color: var(--basic-white)
}

.personal {
  font-family: Cuprum;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray-6);
}

.personal:hover {
  color: var(--basic-red)
}

.personal:focus {
  color: var(--gray-2);
}

.enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  width: 299px;
}

.name:hover {
  color: var(--basic-black);
}

.sort-header {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.sort {
  display: flex;
  justify-content: space-around;
}

.sort .item-list {
  display: flex;
  justify-content: space-between;
}

.background {
  background: var(--basic-background);
  margin-top: 59px;
  margin-bottom: 0px;
}

.services-catalog {
  width: 940px;
  min-height: 261px;
  background-color: var(--basic-background);
  margin: 0 auto;
  padding-top: 64px;
}
